@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Rubik", sans-serif;
    overflow: hidden;
}

:root {

    /* Primary Colors */

    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);

    /* Neutral Colors*/

    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
}

.text-size {
    font-size: 18px;
}